html {
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  background-color: rgba(238, 238, 238, 1);

  min-width: 1024px;
  min-height: 100%;
  position: relative;

  font-family: 'PT Sans', sans-serif;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a:link, :visited{
  color: #1463d9
}
