.content{
  max-width: 1100px;
  box-sizing: border-box;
  margin: 14px auto 0;
  padding: 0 10px;
  position: relative;
  text-align: left;

  height: 549px;

  .sidebar{
    min-height: 1px;
    width: 300px;
    float: left;

    box-sizing: border-box;
    height: 100%;
  }
  .left{

  }

  .main{
    width: auto;
    box-sizing: border-box;
  }
  .right{
    margin-left: 314px;
  }

  .section{
    background: #fff;
    padding: 17px 17px;
    margin-bottom: 14px;
    position: relative;
    border: 0;
    box-shadow: 0px 3px 5px 0 rgba(174,174,174,0.5);

    box-sizing: border-box;
    height: 100%;

    .discussions_list {
      margin-bottom: 0;
    }

    .head{
      border-bottom: 1px solid #ededed;
      position: relative;
      display: block;
      min-height: 34px;

      .title {
        margin: 0;
        padding: 0;
        font-size: 17px;
        font-weight: bold;
        color: #464646;
      }
      .dot{
        float: right;
        font-size: 18px;
        font-weight: bold;
        color: grey;
        margin-top: -10px;
      }
    }

  }

  /*
    Messages
  */
  .messages{
    position: relative;
    margin: 20px 0;
    min-height: 50px;

    overflow-y: auto;
    overflow-x: hidden;
    height: 349px;

    .message{
      position: relative;
      margin: 20px 0;
      min-height: 50px;

      .avatar{
        position: absolute;
        left: 0;
        top: 2px;
        border-radius: 36px;
        display: block;
        overflow: hidden;
        width: 36px;
        height: 36px;

        background-color: lightblue;
      }
      .info{
        margin-left: 50px;

        .date{
          float: right;
          font-size: 15px;
          color: #999999;
          text-align: right;
        }
        .username{
          overflow: hidden;
          font-size: 17px;
          font-weight: bold;
          color: #464646;
        }
        .text{
          margin-top: 1px;
          color: #464646;
          font-size: 15px;
          line-height: 21px;
          max-width: 80%;
        }
      }
    }
  }

  /*
    Form Place (input message)
  */
  .form_place{
    background: #eeeeee;
    margin: 0px -17px -17px;
    padding: 17px;
    border-top: 1px solid #d8d8d8;

    .textarea{
      width: auto;
      //margin-right: 108px;
      margin-right: 133px;
      display: block;
    }
    textarea{
      display: block;
      border: 1px solid #d8d8d8;
      color: #34495e;
      font-size: 15px;
      line-height: 20px;
      padding: 8px 10px;
      margin: 0;
      width: 100%;
      background-color: #fff;
      resize: none;

      overflow: hidden;
      overflow-wrap: break-word;
      resize: none;
      height: 55px;
    }

    button{
      position: absolute;
      right: 17px;
      bottom: 17px;
      display: block;
      vertical-align: bottom;
      width: 95px;
    }
    button:hover{
      cursor: pointer;
    }
    .button{
      color: #65c178;
      background-image: none;
      background-color: #fff;
      height: 28px;
      line-height: 28px;
      border-radius: 4px;
      font-size: 13px;
      font-weight: bold;
      margin: 0;
      padding: 0 8px;
      display: inline-block;
      border: 0;
      text-decoration: none;
      text-align: center;
      white-space: nowrap;
      -webkit-transition: all ease 0.1s;
      transition: all ease 0.1s;
      text-shadow: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-shadow: inset 0px 0px 0px 1px #65c178;
    }
    .btn-blue{
      background-color: #5677fc;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      box-shadow: none;
      height: 36px;
      line-height: 36px;
      padding: 0 13px;
      border: 0;
    }

  }

  /*
  Discussions
*/

  .discussions{
    position: relative;
    overflow-x: hidden;
    margin: 20px -17px -17px;

    .active {
      .info{
        .username{
          color: white;
        }
        .login{
          color: white;
        }
      }
    }

    .discussion{
      position: relative;
      padding: 20px 17px;
      display: block;
      white-space: nowrap;
      border-bottom: 1px solid #ededed;

      .avatar{
        border-radius: 36px;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        width: 36px;
        height: 36px;
        position: relative;

        background-color: lightblue;
      }
    }

    .info{
      display: inline-block;
      vertical-align: middle;
      width: 213px;
      margin-left: 12px;
      font-weight: bold;

      .username{
        font-size: 15px;
        color: #464646;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .login{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 4px;
        font-size: 15px;
        font-weight: normal;
        color: #999999;
      }
    }

    a:link{
      text-decoration: none;
      color: #1463d9;
    }
  }

  .discussion:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }

  .active {
    background-color: #5677fc;
    color: white;
  }
  .active:hover {
    background-color: #5677fc;
  }

}/*end content*/

/*
  Clear
*/

.clear{
  clear: both;
}