header{
  width: 100%;
  height: 68px;
  line-height: 68px;
  background-color: #fff;
  border-bottom: 1px solid #dbe1e2;

  .inner{
    max-width: 1100px;
    padding: 0 10px;
    margin: auto;
    text-align: left;
  }
}