footer{
  height: 286px;

  .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 20px 0 20px;
    text-align: center;

    height: 246px;

    .inner{
      max-width: 1100px;
      padding: 0 10px;
      margin: auto;
      text-align: left;
    }
  }
}